*{
  margin: 0px;
}

body{
  background-color: #eee;
}

.header nav{
  height: 80px;
  background-color: black;
  color: #fff;
  display: flex;
  align-items: center;
  padding-left: 25px;
  padding-right: 25px;
}

.header nav ul{
  flex-basis: 70%;
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

.header nav a{
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
  margin-left: 10px;
}

.header nav a:hover{
  color: lightblue;
}

.content{
  width: 70%;
  min-height: 350px;
  background: #fff;
  border-radius: 15px;
  border: 1px solid #ccc;
  margin: 25px auto;
  padding: 25px;
}

.login input{
  display: block; 
  margin: 15px;
  padding: 7px;
}